@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";
$light-color:#fff;
$accent-color:#65e496;
body{
  font-family: 'Roboto Slab', serif;
}
.page_main{
  background-image: url("../img/bg-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  color:$light-color;
  padding-bottom: 158px ;
}
.wrap{
  max-width: 1170px;
  margin: 0 auto;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 161px;
  &__logo{
    background-image: url("../img/svg/Logo.svg");
    display: block;
    width: 137px;
    height: 28px;
    margin-top: -3px;
  }
  &-list{
    list-style-type: none;
    display:flex;
    justify-content: flex-end;
    font-family: 'Open Sans', serif;
    &__item{
      margin-left: 22px;
      padding-bottom: 4px;
      border-bottom: 3px solid transparent;
      transition: 0.3s;
      &:hover{
        border-bottom: 3px solid $accent-color;
      }
    }
    &__item.active{
      border-bottom: 3px solid $accent-color;
    }
    &__link{
      color:$light-color;
      text-decoration: none;
      letter-spacing: 0.5px;
    }
  }
}
   .block-text{
     flex-basis: calc(93% - 500px);
     &__name{
       font-family: 'Open Sans', serif;
       font-size: 18px;
       font-weight: 300;
       letter-spacing: 1.4px;
       margin-bottom: 30px;
     }
      &__title {
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
        font-size: 48px;
        letter-spacing: 1.44px;
        margin-bottom: 40px;

        span {
          display: block;
          color: $accent-color;
          font-size: 18px;
          margin-top: 11px;
          letter-spacing: 1.1px;
          font-weight: 300;
        }
      }
        &__description{
          font-family: 'Open Sans', serif;
          font-size: 15px;
          line-height: 24px;
          margin-bottom: 24px;
          letter-spacing: 0.7px;
        }
       &__btn{
          display: block;
          background-color: $accent-color;
          color:$light-color;
          text-decoration: none;
          max-width: 250px;
          border-radius:3px;
          text-align: center;
          margin-top:48px;
          padding:14px 0;
          letter-spacing:0.79px;
          margin-bottom: 18px;
         font-size: 18px;
         font-weight: 300;
     }
     small{
       font-family: 'Open Sans', serif;
       letter-spacing: 0.7px;
       font-size: 12px;
       font-style: italic;
       font-weight: 300;
     }
}
   .block-book{
     display:flex;
     justify-content: flex-start;
     &-demo{
       display: block;
       width: 447px;
       height: 643px;
       flex-basis:447px;
       background-image: url("../img/svg/book.svg");
       background-repeat: no-repeat;
       margin-top: 17px;
       margin-right: 53px;
     }
   }